<ion-header>
  <ion-navbar>
    <ion-title>Wikinder</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="settings()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div swing-stack #stack [stackConfig]="stackConfig" (throwoutleft) ="like(true)" (throwoutright) = "like(false)" id="card-stack">
    <ion-card #cards swing-card *ngFor="let c of cards" (click)="view(c['pageId'])">
      <ion-card-header>
        <h1>{{c['title']}}</h1>
      </ion-card-header>
      <ion-card-content>
        <p [innerHtml]="trim(c['extract'])"></p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="cards.length == 0">
    <ion-card-header>
      <h1 class="center">
        Loading...
      </h1>
    </ion-card-header>
    <ion-card-content>
      <div class="center"><ion-spinner></ion-spinner></div>
      <p>Fetching articles...</p>
      <p>Ensure your device has a working internet connection.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only large (click)="like(false)" [disabled]="noCards()">
        <ion-icon name="thumbs-down" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only large (click)="like(true)" [disabled]="noCards()">
        <ion-icon name="thumbs-up" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
