<ion-header>
  <ion-navbar>
    <ion-title>Wiknder</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div swing-stack #stack [stackConfig]="stackConfig" id="card-stack"
    (throwoutleft)="like(false)" (throwoutright)="like(true)" (throwoutdown)="bookmark()">
    <ion-card #cards swing-card *ngFor="let c of cards; trackBy: trackByArticle" (click)="view(c)">
      <ion-card-header *ngIf="!!c['title']" text-wrap>
        <h2>{{c['title']}}</h2>
      </ion-card-header>
      <ion-card-content *ngIf="!!c['extract']">
        <p [innerHtml]="trim(c['extract'])"></p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="cards.length == 0" id="load">
    <ion-card-header>
      <h1 class="center">
        Loading...
      </h1>
    </ion-card-header>
    <ion-card-content>
      <div class="center"><ion-spinner></ion-spinner></div>
      <p>Fetching articles...</p>
      <p>Ensure your device has a working internet connection.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="center">
        <ion-col width-33><ion-buttons><button id="down" ion-button icon-only color="primary" (click)="like(false)" [disabled]="noCards()">
          <ion-icon name="thumbs-down"></ion-icon>
        </button></ion-buttons></ion-col>
        <ion-col width-33><ion-buttons>
          <button id="archive" ion-button icon-only (click)="bookmark()" [disabled]="noCards()">
            <ion-icon name="filing"></ion-icon>
          </button>
        </ion-buttons></ion-col>
        <ion-col width-33><ion-buttons><button id="up" ion-button icon-only color="primary" (click)="like(true)" [disabled]="noCards()">
          <ion-icon name="thumbs-up"></ion-icon>
        </button></ion-buttons></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
