page-settings {
  .about {
    margin: 0;
  }
  .list-md > .item-block:last-child {
    border-bottom: 0px;
    background-color: #f6f6f6;
    color: #666;
    margin: 0;
  }
  a.text-md.text-md-primary {
    margin: 0;
  }
  .list-md {
    margin: 0;
  }
}
